/* jsGame.css */
body {background-color:black;}
#wrap{position:		relative}
#pad {position: 	absolute;
	  top:			20px;
	  left:			30px;
	  color:		#999;
	  width:		300px;
	  height:		200px;
	  font-size:	10pt;
	  text-overflow:ellipsis;}
#intro{position: 	absolute;
	  top:			20px;
	  left:			30px;
	  color:		#999;
	  width:		300px;
	  height:		200px;
	  font-size:	10pt;
	  text-overflow:ellipsis;}
#snow{position:		absolute;}
	  